body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* mediaqueries */

@media (min-width: 1116px) {
  /* container */
  .container {
    background: rgb(224, 215, 215);
    color: black;

    display: grid;

    grid-template-columns: 300px;
    /* grid-template-rows: 300px 300px ; */

    grid-template-areas:
      "sc sc sc sc sc sc sd sd"
      "sc sc sc sc sc sc sd sd"
      "sc sc sc sc sc sc sd sd"
      "sc sc sc sc sc sc sd sd"
      "sc sc sc sc sc sc sd sd"
      "ft ft ft ft ft ft ft ft";
  }

  .section {
    grid-area: sc;
  }

  .section {
    display: grid;

    grid-template-columns: repeat(250px, 1fr);
    /* grid-template-rows: 300px 300px ; */
    grid-template-areas:
      "card card card cardd cardd cardd"
      "carddd carddd carddd cardddd cardddd cardddd";
  }

  /* ID cards */

  #card1 {
    grid-area: card;
  }
  #card2 {
    grid-area: cardd;
  }
  #card3 {
    grid-area: carddd;
  }
  #card4 {
    grid-area: cardddd;
  }

  .aside {
    grid-area: sd;
  }
  .footer {
    grid-area: ft;
  }

  /* header styling */
  .header {
    background: linear-gradient(90deg, black, rgb(124, 82, 5));
    color: white;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    box-sizing: border-box;
  }

  #logo {
    margin-right: 300px;
    font-size: 25px;
  }
  #city {
    font-weight: bold;
    color: rgb(10, 194, 19);
  }

  .header > ul {
    list-style-type: none;
  }
  .header > ul > li {
    display: inline-block;
    margin-left: 10px;
  }
  .header > ul > li > a {
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  .header > ul > li > a:hover {
    text-decoration: underline;
    text-decoration-color: #666;
    text-decoration-thickness: 5px;
  }

  /* section styling */

  .card {
    border: 1px solid rgb(231, 224, 224);
    padding: 10px;
  }

  /* btn style */
  .btn {
    background-color: #293370;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 25%;
    height: 20px;
    margin-left: 37px;
  }

  .btn:hover {
    background-color: #010e66;
  }

  /* sidebar style */

  .aside {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #d4bcbc;
    padding: 20px;
  }
  .fa {
    margin-top: 25px;
    margin-left: 15px;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgb(68, 68, 209);
    color: white;
    box-shadow: 2px 2px 2px 1px rgb(57, 122, 175);
  }
  .img > figure > img {
    width: 200px;
    border-radius: 60%;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .card > img {
    width: 100%;
  }
  .blockq {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    /* border: 1px solid rgb(197, 176, 176); */
    font-style: italic;
    padding: 5px;
    box-shadow: 5px 5px 2px 1px rgb(131, 115, 115);
  }
  #name {
    text-align: left;
    font-style: italic;
    margin-top: -20px;
  }

  /* footer style */

  .footer {
    background: linear-gradient(180deg, rgb(124, 82, 5), black);
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(250px, 1fr);
    grid-template-rows: 100px;

    box-sizing: border-box;
  }
  .footerCard > input[type="text"],
  input[type="email"] {
    display: inline-block;
    width: 30%;
    font-size: 16px;
    margin-top: 10px;
    padding: 13px;
    border-radius: 5px;
  }

  .footerCard > .btn-submit {
    display: inline-block;
    width: 20%;
    margin-top: 10px;
  }
  .footer > .links > ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    align-items: stretch;
    margin-left: -50px;
  }

  .footer > .links > ul > li {
    margin-top: 5px;
    margin-left: 10px;
  }
  .footer > .links > ul > li > a {
    color: white;
    margin-top: 5px;
  }
  .footer > .links > ul > li > a:hover {
    color: green;
    margin-top: 5px;
  }
  .footer > .footer-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}
